.body{
    background-color: #90B77D;
}
.caja{
    display: flex; justify-content: space-around;
    margin-top: 50px;
    margin-left: 60px; margin-right: 60px;
}
.btn{
    background-color: #90B77D;
    transition: 1s;
    border: black 0.4px solid
}
.btn:hover{
    background-color: #AC7D88 ;
    transition: 1s;
    border: black 0.4px solid
}
.card{
    border-radius: 20px;
    background-color: #D2D79F;
    border: black 1px solid;
    
}
.card-img-top{
    border-bottom-left-radius: 20px; border-bottom-right-radius: 00px; border-top-left-radius: 20px;
     border-top-right-radius: 20px ;border-bottom: black 1px solid ; border-top: black 1px solid; 
     border-left: black 1px solid; border-right: black 1px solid;
}
.img{
    padding: 10px 10px 00px 10px
}
.cajita{    border-radius: 10px;
    background-color: #C4DFAA;
    border: black 1px solid;}
.titulo{
    display: flex; justify-content: space-around;font-family: 'Silkscreen', cursive; margin-top: 20px;
}
.form-label{border-radius: 8px; width: 100%}
.ingresar{
    font-family: 'Silkscreen', cursive;
margin-left: 80px; margin-top: 20px; margin-bottom: 40px; margin-right: 80px;
}
.links{
    font-family: 'Silkscreen', cursive; font-size: small;
    display: flex; justify-content: space-between; flex-direction: row-reverse;
}
.checkbox{
    background-color: #AC7D88;
}
.btn-enter{
    display: flex; justify-content:flex-end; margin-right:auto;
}
.btn-enter2{
    border-radius: 8px;
}
.mb-3{
    margin-top: 15px;
}
.flex-end{
    display: flex;justify-content: flex-end;
}
