.body{
    background-color: #90B77D;
}
.caja{
    display: flex; justify-content: space-around;
    margin-top: 50px; 
}
.btn{
    background-color: #90B77D;
    transition: 1s;
    border: #AC7D88 10px;
}
.btn:hover{
    background-color: #AC7D88 ;
    transition: 1s;
    border: #90B77D 10px;
}
.card{
    border-radius: 20px;
}
.card-img-top{
    border-bottom-left-radius: 00px; border-bottom-right-radius: 00px; border-top-left-radius: 20px;
     border-top-right-radius: 20px
}